%main.container.full-width
  .row
    .col.s12
      .d-flex
        .flex-grow
          %h2.mt-0
            = invoice.is_offer? ? t("offer") : t("invoice")
        %div

          .left.pr-1

          %h5.m-0= Setting["name"]
          %ul.m-0
            %li.collection-item
              = Setting["job"]
            %li.collection-item
              = Setting["address"]
            %li.collection-item
              = link_to Setting["website"], "http://#{ Setting["website"] }", target: "_blank", class: ""
              = " - "
              = mail_to Setting["mail"], Setting["mail"], subject: "Rückfragen zur Rechnung: #{invoice.invoice_number}", target: "_blank", class: ""
            -#%li.collection-item
              -#= "Steuernummer: #{Setting["tax_id"]}"
            %li.collection-item
              -if invoice.is_offer?
                = "#{t('onr')} #{invoice.invoice_number}"
              -else
                = "#{t('nr')} #{invoice.invoice_number}"
            %li.collection-item
              -if invoice.is_offer?
                = "#{t('odate')} #{invoice.invoice_date.strftime("%d.%m.%Y")}"
              -else
                = "#{t('date')} #{invoice.invoice_date.strftime("%d.%m.%Y")}"

            - if invoice.invoice_date.strftime("%d.%m.%Y") != invoice.delivery_date.strftime("%d.%m.%Y")
              %li.collection-item
                = "#{t('del_date')} #{invoice.delivery_date.strftime("%d.%m.%Y")}"
        
      -#- if @request == 'html'
        -#= image_tag('logo.png', id: "logo", class: "full-width")
      -#-else
        -#%img{src: "file://#{Rails.root}/app/assets/images/logo.png", id: "logo", class: "full-width"}

      .row
        .col.s5
          %h5.m-0="#{t("to")} #{invoice.customer.name}"
          %ul.m-0
            %li.collection-item.condensed_simple_format
              = simple_format(invoice.customer.company)
              = simple_format(invoice.customer.address)

        .col.s7


      .row
        .col.s12
          %table.striped.flex-grow.condensed
            %thead
              %tr
                %th #
                - if invoice.is_consultant?
                  %th= t('consultation')
                - else
                  %th= t('item')
                %th.text-right= t('count')
                %th.text-right= t('price')
                %th.text-right= t('sum') 
            %tbody
              - invoice.items.each_with_index do |item, index|
                -# - if invoice.discount != 0
                -#   - item.price = item.price*(invoice.discount/100.00)
                %tr
                  %td= index + 1
                  %td= item.name
                  %td.text-right= item.count == 0 ? "" : '%.02f' % ( item.count / 60 + item.count % 60.00 / 100.00)

                  %td.no-wrap.text-right= item.count == 0 ? "" : number_to_currency(item.price, :unit => "€", :separator => ",", :delimiter => "", :format => "%n %u")
                  %td.text-right= number_to_currency(item.count == 0 ? item.price : ( item.count/60.00 * item.price ), :unit => "€", :separator => ",", :delimiter => "", :format => "%n %u")             
              - if invoice.discount != 0
                %tr
                  %td.text-right{colspan: 4}
                    %h5.m-0=t('netto') 
                  %td.text-right
                    %h5.m-0.no-wrap= number_to_currency(total, :unit => "€", :separator => ",", :delimiter => "", :format => "%n %u")
                %tr
                  %td.text-right{colspan: 4}
                    =t('vat') 
                    = "#{ invoice.discount } %"
                  %td.text-right= number_to_currency(total.to_i * (invoice.discount / 100.00), :unit => "€", :separator => ",", :delimiter => "", :format => "%n %u")

                / - if invoice.items.count > 1 || invoice.discount != 0
                %tr.total
                  %td
                  %td
                  %td
                  %td.text-right.pt-3
                    =t('total')
                  %td.text-right
                    .no-wrap= number_to_currency(total + (total.to_i * (invoice.discount / 100.00)), :unit => "€", :separator => ",", :delimiter => "", :format => "%n %u")

              - else
                %tr.total
                  %td
                  %td
                  %td
                  %td.text-right.pt-3
                    %h5.m-0=t('total')
                  %td.text-right
                    %h5.m-0.no-wrap= number_to_currency(total, :unit => "€", :separator => ",", :delimiter => "", :format => "%n %u")

      - if invoice.is_offer? && invoice.valid_until.present? && invoice.valid_until >= Time.now
        %div
          = t('valid_until', valid_until: invoice.valid_until.strftime("%d.%m.%Y"))
      - if invoice.notes !=  ""
        .notes
          = simple_format(invoice.notes)
      -#- elsif !invoice.is_offer?
        -#.notes
          -#%p
            -#Ich bin nach §19 UStG als Kleinunternehmer von der Umsatzsteuer befreit.
%footer
  .row
    .col.s8.no-padding
      - if invoice.is_offer?
        = t('questions')
        %br
        = t('thanks_for_interest')
      - else
        .left.mr-2
          = raw( qrcode )
        = t('please_transfer')
        %br
        = Setting["name"]
        %br
        = Setting["iban"].gsub(/\s+/, "")
        %br
        = Setting["bic"]
    .col.s4.text-right.no-padding
      %h4=t('thanks')
