:css
  #{Diffy::CSS}
- if @versions.any?
  %table

    %tbody
      -@versions.each_with_index do |version, index|
        %tr

          %td.no-padding
            %h6.card-panel.white-text.mt-0
              = version.created_at.strftime("%d.%m.%Y - %H:%S")
              = " |   "
              = version.event
              - if version.item_type == "Entry"
                = link_to "Entry", edit_admin_entry_path(version.item_id), target: "_blank"
              - elsif version.item_type == "Customer"
                = link_to "Customer", edit_admin_customer_path(version.item_id), target: "_blank"
              - elsif version.item_type == "Item"
                = link_to "Item", edit_admin_entry_path(Item.find(version.item_id).entry), target: "_blank"
              - else
                = version.item_type
                = version.item_id


            %table.highlight
              - version.changeset.each do |field, value|
                %tr
                  %th.py-0{colspan:1}
                    = field + ": "
                  %td.py-0{colspan:1}
                    = diff(value.first, value.last)


  .fixed-action-btn
    = link_to remove_all_admin_versions_path, :method => :get, class: "tooltipped btn-floating waves-effect waves-light red btn-large", data: {confirm: t('history_warning'), "delay": 10, "position":"left", "tooltip": t('delete_history')} do
      %i.material-icons.large delete
- else
  %h2.grey-text.text-lighten-1.center-align.mt-5
    %div
      %i.material-icons.large.grey-text.text-lighten-1 child_care
    =t('all_good')
