- flash.each do |name, msg|
  = puts name
  - if name == "success"
    :javascript
      $(function(){M.toast({html: "#{msg}", classes: ' teal white-text'});});
  - elsif name == "error"
    :javascript
      $(function() {M.toast({html: "#{msg}", classes: ' red white-text'});});
  - elsif name == "alert"
    :javascript
      $(function() {M.toast({html: "#{msg}", classes: ' orange white-text'});});
  - elsif name == "notice"
    :javascript
      $(function() {M.toast({html: "#{msg}", classes: 'teal lighten-4'});});
  - else
    :javascript
      $(function(){M.toast({html: "#{msg}", classes: ''});});