%li.collection-item.m-0.no-border.p-0
  = form_for "setting", url: admin_setting_path(setting[0]), method: 'patch', :html => {:class => ""}, remote: true do |f|
    .d-flex.mb-0.px-1
      .flex-grow
        - if setting[0] != "address"
          = f.label setting[0], class: "active"
          = f.text_field :value, value: setting[1], class: ""
        - else
          = f.label setting[0], class: "active"
          = f.text_area :value, value: setting[1].gsub("\n", '').squeeze(' '), class: "materialize-textarea"
      .text-right
        = button_tag type: 'submit', :class => "btn-floating material-icons circle waves-effect waves-light mt-2" do
          %span.white-text="done"
