- if @entries.any?
  .row
    #entries_tree
      - if params[:search].blank?
        .row.hide-on-med-and-down.mt-2
          .col.s4
            %h5 Invoices per month 
            = column_chart Entry.visible.where("delivery_date >= ?", Time.zone.now - 1.year).group_by_month(:delivery_date).count, colors: ["#27ae60"]

          .col.s4
            %h5 Amount recieved per customer
            = column_chart @data, stacked: true, legend: false
          .col.s4
            %h5 Items
            -#= pie_chart @this_year.collect { |x| [x.customer.company, get_items_total(x)] }, legend: true, donut: true
            = pie_chart Item.all.collect { |x| [x.name, x.price.to_i] }.group_by(&:first).map { |k, v| [k, v.map(&:last).inject(0,&:+)] }, legend: false, donut: true

      = render "entries_tree"
- else
  %h2.grey-text.text-lighten-1.center-align.mt-5
    %div
      %i.material-icons.large.grey-text.text-lighten-1 child_care
    =t('all_good')


.fixed-action-btn
  = link_to new_admin_entry_path, class: "btn-floating waves-effect waves-light green btn-large" do
    %i.material-icons.large add
  %ul
    %li
      = link_to new_admin_entry_path(:is_offer => true), class: "btn-floating waves-effect waves-light red" do
        %i.material-icons question_answer
